@import '~bootstrap/scss/bootstrap';

* {
  align-content: flex;
}


.pre-login {
  align-items: center;
  display: block;
  margin-left: 30%;
  padding-top: 25px;
  top: 200px;
  width: 40%;
}

.dropdown {
  align-items: top;
}

.crud-contacts {
  align-items: center;
  display: block;
  margin-left: 30%;
  padding-top: 25px;
  top: 200px;
  width: 40%;
}

.contact-handlebar-item {
  border: 1px solid black;
  margin: 0.5rem;
  padding: 1rem;
}
